/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-fun-slides-fun-slides {

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5rem;

	display: flex;
	justify-content: center;
	align-items: center;

	.fun-slides-slide {
		display: flex;
		justify-content: center;
		align-items: center;
	
		.fun-slides-slide-media {
			width: 500px;
			height: 300px;
			display: flex;
			justify-content: center;
	
			.fun-slides-cta-richtext {
				background-color: red;
				max-width: fit-content;
				padding: 1rem;
				position: absolute;
				top: 50%;
			}
		}
	}
	.slick-dots {
		left: 0;
		padding: 0.5% 1%;
		margin-left: auto;
		margin-right: auto;
		max-width: fit-content;
		background: linear-gradient(180deg, rgba(75,75,75,0) 0%, rgba(255,255,255,1) 100%);
		border-radius: 5px;
	}
}
