/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-fun-slides-fun-slides {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 350px;
}

.fun-slides-frontend-slideshow {
    display: flex !important;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 300px;

    margin: 2.5rem auto;

    .fun-slides-frontend-slide {
        // width: auto;
        // height: 300px;
        display: flex !important;
        justify-content: center;
        align-items: center;

        & > a {
            top: 20px !important;
        }

        img, a > img {
            width: auto;
            height: 300px;
        }

        video, a > video {
            width: auto;
            height: 300px;
        }

        .fun-slides-frontend-cta {
            position: absolute;
            bottom: 20%;

            a {
                top: -50px;
                bottom: -20px;
                left: -60px;
            }
        }

    }
}

.slick-slider {
    margin: 2.5rem 0;
}
