/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-fun-slides-fun-slides {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 350px;
}

.fun-slides-frontend-slideshow {
    display: flex !important;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 300px;

    margin: 2.5rem auto;

    .fun-slides-frontend-slide {
        // width: auto;
        // height: 300px;
        display: flex !important;
        justify-content: center;
        align-items: center;

        img, a > img {
            width: auto;
            height: 300px;
        }

        video, a > video {
            width: auto;
            height: 300px;
        }

        .fun-slides-frontend-cta {
            position: absolute;
            bottom: 20%;
        }

    }
}

.slick-slider {
    margin: 2.5rem 0;
}
