/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-fun-slides-fun-slides {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 350px;
}

.fun-slides-frontend-slideshow {
    display: flex !important;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 300px;

    margin: 2.5rem auto;

    .fun-slides-frontend-slide {
        // width: auto;
        // height: 300px;
        display: flex !important;
        justify-content: center;
        align-items: center;

        & > a {
            top: 20px !important;
            left: initial !important;
            width: inherit;
            height: 190px;
            background-color: rgba(0,0,0,0) !important;
        }

        img, a > img {
            width: auto;
            height: 300px;
        }

        video, a > video {
            width: auto;
            height: 300px;
        }

        .fun-slides-frontend-cta {
            position: absolute;
            bottom: 20%;

            a {
                top: -50px;
                bottom: -20px;
                left: -60px;
            }
        }

    }

    .slick-arrow {
        background-color: rgba(0,0,0,0) !important;
    }
}

.slick-slider {
    margin: 2.5rem 0;
}

// Media Queries

@media only screen and (max-width: 599px) {

    .wp-block-fun-slides-fun-slides {
        height: 175px;
    }

    .fun-slides-frontend-slideshow {
    
        width: 250px;
        height: 150px;
    
        .fun-slides-frontend-slide {

            width: 250px;
            height: 150px;

            & > a {
                top: 10px !important;
            }
    
            img, a > img {
                width: auto;
                height: 150px;
            }
    
            video, a > video {
                width: auto;
                height: 150px;
            }
    
            .fun-slides-frontend-cta {
                bottom: 10%;
                max-width: 100px;
    
                a {
                    top: -140px;
                    bottom: 100px;
                    left: -40px;
                    width: 82px;
                    font-size: 10px;
                }
            }
    
        }
    }

  }